@model Dev2.Web2.Models.ExecutionLogging.ExecutionLoggingRequestViewModel

<head>
    <meta charset='utf-8' />
    <meta content='en' name='language' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Site.css' />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type='text/javascript' src='~/Scripts/sorting.js'></script>
    <script type='text/javascript' src='~/Scripts/multifilter.js'></script>
    <script type='text/javascript' src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function () {
        $("#protocolDropdown").change(function () {
            var value = document.getElementById("protocolDropdown").value;
            if (value == "https") {
                $("#port").val("3143");
            }
            else {
                $("#port").val("3142");
            }
        });
    })
</script>

  

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table id="filterTable">
        <tr>
            <td style="width:5%">
                <div class="navbar-header" style="font-size:18px; margin-top:5px;">
                    @Html.LabelFor(model => model.Server)
                </div>
            </td>
            <td style="width:11%;padding-left:5px">
                @Html.DropDownListFor(m => m.Protocol, Model.Protocols, new { id = "protocolDropdown", @class = "form-control" })
            </td>
            <td style="width:1%; padding-left:5px; padding-right:5px; font-size:17px;">://</td>
            <td style="width:56%;">@Html.EditorFor(model => model.Server, new { htmlAttributes = new { @class = "form-control", style = "width: 100%;" } })</td>
            <td style="width:1%; padding-left:3px; padding-right:3px; font-size:17px;">:</td>
            <td style="width:2%">@Html.EditorFor(model => model.Port, new { htmlAttributes = new { id="port", @class = "form-control", style = "width: 60px;" } })</td>
            <td style="width:2%"><button id="updateServer" type="submit" class="btn btn-default">Update</button></td>
        </tr>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}