@using Variant = MudBlazor.Variant

<div>
    <MudText Typo="Typo.overline">Metadata</MudText>
    <EditForm EditContext="@_editContext" OnValidSubmit="OnValidSubmit">
        <FluentValidationValidator @ref="_fluentValidationValidator" Validator="_validator"/>
        <MudStack Spacing="3">
            <MudTextField T="string" Label="Name" Required="true" Variant="Variant.Outlined" HelperText="The name of the workflow." @bind-Value="@_model.Name" For="@(() => _model.Name)" OnBlur="ValidateForm" ReadOnly="IsReadOnly"></MudTextField>
            <MudTextField T="string" Label="Description" Variant="Variant.Outlined" HelperText="A brief description of the workflow." Lines="4" @bind-Value="@_model.Description" For="@(() => _model.Description)" OnBlur="ValidateForm" ReadOnly="IsReadOnly"></MudTextField>
        </MudStack>
    </EditForm>
</div>