@if (IsReadOnly)

{
    <div style="height:100%">
        <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" WorkflowDefinition="@WorkflowDefinition" ActivitySelected="@ActivitySelected"
            ActivityEmbeddedPortSelected="ActivityEmbeddedPortSelected" CanvasSelected="@OnCanvasSelected" IsReadOnly="true"
            ActivityStats="ActivityStats" ActivityDoubleClick="@ActivityDoubleClick" />
    </div>
}

else

{
    <div class="flowchart-diagram-designer" style="height: 100%" @ondragover="@OnDragOver" @ondragover:preventDefault @ondrop="@OnDrop">
        <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" WorkflowDefinition="@WorkflowDefinition" ActivitySelected="@ActivitySelected"
            ActivityEmbeddedPortSelected="ActivityEmbeddedPortSelected" CanvasSelected="@OnCanvasSelected"
            GraphUpdated="@GraphUpdated" ActivityStats="ActivityStats" ActivityDoubleClick="@ActivityDoubleClick" />
    </div>
}